html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#homepage {
    
}

#top {
    width: 100%;
    height: 100px;
    background: rgb(0, 167, 157);
}

img#menuButton, img#cameraButton {
    top: -5%;
    position: relative;
    -webkit-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
}

img#menuButton {
    float: left;
    margin: 0 0 0 2%;
}

img#cameraButton {
    float: right;
    margin: 0 2% 0 0;
}

#preview {
    width: 80%; max-width: 300px;
}
#preview img {
    width: 100%;
}
.hiddenfile {
    width: 0px;
    height: 0px;
    overflow: hidden;
}
                        
/*Override*/
.ui-panel-wrapper {
    min-height: unset !important;
}




